.container {
  max-width: 960px;
  width: 90%;
  margin: auto;
}

fieldset {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.input-form {
  flex-grow: 1;
  padding: 1rem;
  border-width: 2px;
  resize:vertical;
}

.input-form.ng-invalid.ng-touched {
  border: 2px solid red;
}

.input-form.ng-valid.ng-touched {
  border: 2px solid limegreen;
}

small {
  color: red;
}

