<div class="wrapper" [ngClass]="{'neon': themeService.getNeon(),
'light-theme':themeService.isLightTheme(),'dark-theme':themeService.isDarkTheme()}"
     (resized)="onResized($event)">
  <svg class="svg-lines" xmlns="http://www.w3.org/2000/svg"
       [attr.width]="svgWidth+'px'" [attr.height]="svgHeight+'px'"
       [attr.viewBox]="'0 0 ' + svgWidth + ' ' + svgHeight">
    <g>
      <path *ngFor="let line of lines" [attr.fill]="line.fill"
            [attr.stroke]="line.stroke"
            [attr.d]="line.d"/>
    </g>
  </svg>
  <main class="main" [ngClass]="{'glass': themeService.getGlass()}">
    <app-navbar [(show)]="showDrawer" class="navbar"></app-navbar>
    <section class="page">
      <router-outlet></router-outlet>
    </section>
  </main>
  <aside class="right-drawer"
         [ngClass]="{'glass': themeService.getGlass(), 'show': showDrawer}">
    <div>
      <app-triple-switcher
        title="theme" onWord="light" offWord="dark" middleWord="auto"
        [state]="themeService.getTheme()"
        (stateChange)="themeService.setTheme($event)">
      </app-triple-switcher>
    </div>
    <div>
      <app-switcher [state]="themeService.getGlass()"
                    (stateChange)="themeService.setGlass($event)"
                    [height]="40"
                    title="glass"></app-switcher>
    </div>
    <div>
      <app-switcher (stateChange)="themeService.setNeon($event)" [height]="40"
                    title="neon"></app-switcher>
    </div>
  </aside>
</div>
